<section class="container">
	<div class="row-fluid">
		<div id="hola" class="span6">
			<h3>Hola! Esto es <span class="logo"><span>ruido</span>digital</span>.</h3>

			<p>Este es un blog creado con pasión, donde apunto a crear un recurso de valor para desarrolladores web, ofreciéndoles información, herramientas o entrenamiento.</p>
			<p>Considero que la información que encontrarás aquí te será de utilidad ya que he estado de ese lado, programando hasta altas horas, y todo el contenido está basado en esas experiencias.</p>

			<h3>Recibe información por email.</h3>

			<p>Jamás enviaré Spam, solamente avisaré cuando hay nuevas publicaciones o avisos especiales.</p>

			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
			<form action="http://ruidodigital.us2.list-manage1.com/subscribe/post?u=153588b7dfbd9e23b43512509&amp;id=7846bde501" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				
			<div class="mc-field-group input-append">
				<input type="email" value="" name="EMAIL" class="required email input-xlarge" id="mce-EMAIL">
				<input type="submit" value="Suscribete" name="subscribe" id="mc-embedded-subscribe" class="button btn">
			</div>
			<p>Powered by <a href="http://eepurl.com/BmAjv" title="MailChimp - email marketing made easy and fun">MailChimp</a></p>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>	
			</form>
			</div>

			<!--End mc_embed_signup-->
		</div>
		<div id="siguenos" class="span6">
			<h3 id="networks" class="pull-left">Sígueme en </h3>
			<ul class="nav nav-pills">
				<li class="active"><a href="#twitter" data-toggle="tab">Twitter</a></li>
				<li><a href="#facebook" data-toggle="tab">Facebook</a></li>
				<li><a href="#googleplus" data-toggle="tab">Google+</a></li>
			</ul>
			<div class="tab-content" style="clear:both">
				<!-- Twitter Tab -->
				<div id="twitter" class="tab-pane active">
					<a class="twitter-timeline" height="300" data-dnt="true" href="https://twitter.com/prigazzi" data-widget-id="349002022923665408" data-chrome="nofooter transparent">Tweets by @prigazzi</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
				<!-- Facebook Tab -->
				<div id="facebook" class="tab-pane">
					<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.ruidodigital.com&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=recommend&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:300px;" allowTransparency="true"></iframe>
				</div>
				<!-- Google Plus Tab -->
				<div id="googleplus" class="tab-pane">
					<!-- Place this tag where you want the badge to render. -->
					<div class="g-plus" data-href="//plus.google.com/105868515274459992550" data-rel="publisher"></div>

					<!-- Place this tag after the last badge tag. -->
					<script type="text/javascript">
					  (function() {
					    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					    po.src = 'https://apis.google.com/js/plusone.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					</script>
				</div>
			</div>
		</div>
	</div>
</section>