<nav class="navbar navbar-fixed-top" role="navigation">
<div class="navbar-inner">
	<div class="container">

        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

		<a href="/" class="brand logo"><span class="ruido">ruido</span>digital</a>

		<div class="nav-collapse collapse">
			<ul class="nav pull-left">
				<!--<li><a href="#">Proyectos</a></li>-->
				<li><a href="/blog/archivos">Archivos</a></li>
				<li><a href="/acerca-de/">Acerca De</a></li>
				<li><a href="/presentaciones/">Presentaciones</a></li>
				<li><a href="/videos/">Videos</a></li>
			</ul>
			<!--
			<form class="navbar-search pull-right">
			  <input type="text" class="search-query input-xlarge" placeholder="Search">
			</form>
			-->
        </div>
	</div>
</div>
</nav>